* {
    margin: 0;
    padding: 0;
}

ul, li {
 list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-primary {
    background: #000;
}